.DS_Store
.settings/

/backup/*
/backup-*/
/bin/
/docs/scripts/*
/jre/
/resource/font-*/
/resource/rawexd-*/
/resource/text/
/test/
debug.*
*.bat
*.jar
*.rar
*.zip
*.exe

.gradle
.idea
build

src/main/java/name/yumao/ffxiv/chn/util/GodbertUtil.java
